.frameChild {
  position: absolute;
  top: 0;
  left: 1.38rem;
  width: 27.17rem;
  height: 17.21rem;
}
.awardIcon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}
.awardWrapper {
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-aliceblue);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.buyPremium {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 130%;
}
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.arrowsArrowLeft1 {
  position: relative;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  overflow: hidden;
  opacity: 0.75;
}
.frameDiv,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frameParent {
  align-self: stretch;
  justify-content: space-between;
}
.frameDiv {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.arrowsArrowLeft11 {
  position: relative;
  width: 1.94rem;
  height: 1.25rem;
  flex-shrink: 0;
  overflow: hidden;
  opacity: 0.75;
}
.frameContainer,
.frameParent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10.06rem;
  cursor: pointer;
}
.frameParent5 {
  gap: 11.69rem;
}
.profileOptions {
  position: absolute;
  top: 28.31rem;
  left: 3.94rem;
  width: 19.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 2.19rem;
}
.vectorParent {
  position: absolute;
  top: 0;
  left: -1.37rem;
  width: 27.17rem;
  height: 48.31rem;
}
.vuesaxboldnotificationIcon {
  position: absolute;
  top: 3.69rem;
  left: 21rem;
  width: 1.63rem;
  height: 1.69rem;
}
.profile {
  position: absolute;
  top: 2.75rem;
  left: 7.69rem;
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--label-light-primary);
}
.vectorIcon {
  position: absolute;
  height: 0.59%;
  width: 38.21%;
  top: 98.46%;
  right: 31.03%;
  bottom: 0.95%;
  left: 30.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconlyboldarrowLeft {
  position: absolute;
  top: 3.5rem;
  left: 1.63rem;
  width: 1.61rem;
  height: 1.73rem;
  cursor: pointer;
}
.userProfile {
  align-self: stretch;
  position: relative;
  background-color: var(--color-white);
  height: 52.75rem;
  flex-shrink: 0;
  overflow: hidden;
}
.userProfileParent {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  font-family: var(--font-nunito);
}
