@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pompiere:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-pompiere: Pompiere;
  --font-nunito: Nunito;
  --font-poppins: Poppins;
  --font-roboto: Roboto;
  --font-lexend-deca: "Lexend Deca";

  /* font sizes */
  --font-size-mid-4: 1.09rem;
  --font-size-11xl: 1.88rem;
  --font-size-smi: 0.81rem;
  --font-size-sm: 0.88rem;
  --font-size-xl: 1.25rem;
  --font-size-6xl: 1.56rem;
  --font-size-xs-5: 0.72rem;
  --font-size-lg-4: 1.15rem;
  --font-size-8xl-7: 1.73rem;
  --font-size-base-1: 1.01rem;
  --font-size-base-2: 1.01rem;
  --font-size-smi-7: 0.79rem;
  --font-size-2xs-4: 0.65rem;
  --font-size-base: 1rem;
  --font-size-9xl: 1.75rem;

  /* Colors */
  --color-white: #fff;
  --label-light-primary: #000;
  --color-gray-100: #fefefe;
  --color-gray-200: #fffdfa;
  --dark-gray-10: #fbfbfb;
  --dark-gray-4: #767676;
  --color-black: #24252c;
  --dark-gray-1: #202020;
  --color-gray-300: rgba(0, 0, 0, 0.35);
  --color-mediumslateblue: #5863f8;
  --color-darkslategray-100: #403b36;
  --color-secondery: #6e6a7c;
  --color-dimgray-100: #595555;
  --color-dimgray-200: #595550;
  --color-aliceblue: rgba(230, 237, 242, 0.5);

  /* Gaps */
  --gap-11xs: 0.13rem;
  --gap-3xs: 0.63rem;
  --gap-5xs: 0.5rem;
  --gap-xs: 0.75rem;

  /* Paddings */
  --padding-0: 0rem;
  --padding-10xs: 0.19rem;
  --padding-11xs-9: 0.12rem;
  --padding-7xs: 0.38rem;
  --padding-9xs: 0.25rem;
  --padding-12xs: 0.06rem;
  --padding-base: 1rem;
  --padding-smi-5: 0.78rem;
  --padding-9xs-2: 0.2rem;
  --padding-8xs-2: 0.26rem;

  /* border radiuses */
  --br-9xs-1: 3.1px;
  --br-11xs-6: 1.6px;
  --br-5xs: 8px;
  --br-3xs: 10px;
  --br-mid-3: 17.3px;
  --br-8xl-7: 27.7px;
  --br-16xl-7: 35.7px;
  --br-mid-4: 17.4px;
}
